.navbar{
 background:#20B2AA;
}
.nav-link , .navbar-brand{
 color: #f4f4f4;
 cursor: pointer;
 opacity: 1;
 transition: 0.3s;
}
.nav-link{
 margin-right: 1em !important;
}
.nav-link:hover{
 background: #f4f4f4;
 color: #20B2AA;
 opacity: 1;
 transition: 0.3s;
}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#FFFAF0 !important;
  opacity: 1;
  transition: 0.3s;
}

.navbar-collapse{
 justify-content: flex-end;
}


.bg-dark{
background-color:#20B2AA!important
}
.bg-primary{
background-color:#007bff!important
}
/*header style*/
.header{
 background-image: url('images/cc.jpg');
 background-attachment: fixed;
 background-size: cover;
 background-position: center;
}

.overlay{
 position: absolute;
 min-height: 125%;
 min-width: 100%;
 left: 0;
 top: 0;
 background: rgba(0,0,0,0.5);
}
.description{
    position: absolute;
    top: 70%;
    margin: center;
    padding: 2em;
}
.description h1{
 color:#FFFFF0 ;
 font-size: 100px;
 font-family:"Trebuchet MS", Helvetica, sans-serif;
 width: 180%;
 line-height: 1.5;
}
.description p{
 color:#FFFFF0;
 font-size: 30px;
 font-family:
 width: 100%;
 line-height: 0.5;
}
/* Style all font awesome icons */
.description .fa {
    padding: 20px;
    font-size: 40px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Add a hover effect if you want */
.description .fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.description .fa-facebook {
    background: none;
    color: white;
}

/* Twitter */
.description .fa-twitter {
    background: none;
    color: white;
}
.description .fa-instagram {
    background: none;
    color: white;
}
.description .fa-google {
    background: none;
    color: white;
}
.row{
 margin: 4em 4;
 padding: 3em;
 position: relative;
}
.row h1{
 color:#F97300;
 margin: 2em;
}
.row img{
 height: 100%;
    width: 100%;
    border-radius: 2px;
}

.row .desc{
 padding: 3em;
 border-left:4px solid #10828C;
}
.row .desc h3{
 color: #10828C;
}
.row .desc p{
 line-height:1;
 color:#888;
}
.row h3{
 color: #10828C;
}

.row h3{
 color: #10828C;
}
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
    width: 10%; /* Full width */
    background-color: #ddd; /* Grey background */
}

.skills {
    text-align: right; /* Right-align text */
    padding-right: 20px; /* Add some right padding */
    line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color: white; /* White text color */
}

.crt {width: 88%; background-color:#20B2AA;}
.tw {width: 80%; background-color: #20B2AA;}
.gd {width: 75%; background-color: #20B2AA;}
.adp {width: 81%; background-color: #20B2AA;}

.gallery{
 margin: 7em;
    position: relative;
}
.gallery h1{
 color:#20B2AA;
 margin: 2em;
}
.gallery img{
  height: 15rem;
  width: 150%;
  margin: 1em;
}

.contactform{
 margin: 10em;
 position: relative;
}
.contactform h1{
 padding:2em 5px;
 margin: 1em;
 color: #20B2AA;
}
.contactform .right{
 max-width: 40px;

}
.contactform .right .btn-secondary{
 background:  #20B2AA;
 color: #20B2AA;
 border:0;
}
.contactform .right .form-control::placeholder{
 color: #20B2AA;
 font-size: 16px;
}
